
@import "tailwindcss";
/* using this for GrapesJS styles  */
@import "grapesjs/dist/css/grapes.min.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #171717;
}